<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>home</title>
<body>
<h1>Welcome to <span th:text="${appName}">Our App</span></h1>


<div class="login" style="text-align: center">
    <p>Log in:</p>
<input class="loginUsername" type="text" placeholder="username"/><br/>
<input class="loginPassword" type="text" placeholder="password"/><br/>
<input type="submit" onclick="loginUser()"/><br/>
</div>

<script>

    function loginUser() {
        // LOGIN USER USING THE CREDENTIALS
        const userName = document.querySelector('.loginUsername').value;
        const userPassword = document.querySelector('.loginPassword').value;
        fetch('http://localhost:8181/login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                username: userName,
                password: userPassword
            })
        })
        // CHECK IF USER EXISTS? IF NO, POST ERROR
        // ALSO REFRESH TO LANDING PAGE
            .then((res) => {
                return res.json();
            })
            .then((res) =>{
                localStorage.setItem('user', res.token);
                if (res.token) { // DO I GET A RESPONSE? IF YES:
                    console.log(localStorage.getItem('user'));
                    window.location.href="landing";
                }
            })
            .catch((error) =>{
                console.log(error);
            })
    }


</script>
</body>
</html>